@media (max-width: 2140px) {
  #menu-toggle,
  .menu-label {
    display: none;
  }
}
@media (max-width: 1200px) {
  #menu-toggle,
  .menu-label {
    display: none;
  }
}
@media (max-width: 992px) {
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  #menu-toggle:checked + .navbar-list {
    display: block;
  }
  .navbar-list {
    display: flex;
    flex-direction: column;
  }

  .navbar-list li {
    display: none;
    margin: 20px 0;
  }
  .imagen-perfil {
    display: none;
  }
  .mapa iframe {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .mapa iframe {
    width: 500px;
    height: auto;
    margin-bottom: 30px;
  }
  .contacUs {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .mapa iframe {
    width: 300;
    height: auto;
  }
}
