* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
  margin: 10px auto;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 80px;
}

.cont-nav,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  gap: 60px;
  font-size: 20px;
  color: whitesmoke;
}

.logo {
  width: 150px;
  height: 120px;
}

/* Portada */

.cont-portada h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: whitesmoke;
}
.cont-portada p {
  font-size: 20px;
  margin: 30px 20px 50px 0;
  color: whitesmoke;
}

.cont-principal {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;
}

.cont-img {
  max-width: 25rem;
  margin-top: 15px;
}
.imagen-perfil {
  max-width: 22rem;
}

.cont-portada button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin: 30px 50px 0 0;
}
.cont-portada button > a {
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.contacto {
  background: #0f2027;
}
.continuar-leyendo {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.parrafo-presentacion {
  font-size: 20px;
  margin: 5px;
  color: whitesmoke;
}

hr {
  margin-top: 30px;
  border-color: aquamarine;
}

/* Tarjetas */

.cont-cards {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
  color: whitesmoke;
}

.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 30px 15px 30px 15px;
}

.card img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin-top: 60px;
}

.card p {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 20px;
}

.card span {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: aquamarine;
}

.card button {
  background: #2c5364;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 30px 50px 0 0;
}
.card button > a {
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* Contacto */

.contenedor-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.contact-Us h2 {
  color: aquamarine;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-Us h3 {
  color: whitesmoke;
  font-size: 20px;
  margin: 10px 0 15px 0;
}

.direccion {
  margin: 10px 0 10px 0;
}

.email {
  margin: 10px 0 10px 0;
}

.telofono {
  margin: 10px 0 10px 0;
}

.mapa iframe {
  margin-bottom: 25px;
  border-radius: 10px;
}

.contact-Us span {
  color: whitesmoke;
  font-size: 16px;
}

/* Pie de pagina */

footer {
  display: flex;
  justify-content: space-evenly;
}

.copyrigth small {
  font-size: 18px;
  font-weight: 400;
  color: aquamarine;
}
.redes a {
  color: aquamarine;
}

#menu-toggle,
.menu-label {
  display: none;
}
